<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="baseurl" content="{{ site.baseurl }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/assets/styles.css">
  <script src="{{ site.baseurl }}/assets/sidebar.js" defer></script>
</head>
<body>
  <header>
    <div class="header-container">
      <div class="site-name">
        <a href="{{ site.baseurl }}/">Data Gathering Workshop 24</a>
      </div>
      <nav>
        <ul>
          <li><a href="{{ site.baseurl }}/">About</a></li>
          <li><a href="{{ site.baseurl }}/contact/">Contact</a></li>
          <li><a href="{{ site.baseurl }}/setup/">Setup Instructions</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <div class="page-with-sidebar">
    <aside class="sidebar" id="sidebar">
      <h2>Contents</h2>
      <ul>
        <li><a href="{{ site.baseurl }}/lessons/lesson1/">Available on 02/07/24</a></li>
      </ul>
    </aside>
    <main class="content">
      {{ content }}
    </main>
  </div>
</body>
</html>
